*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --bg:rgb(0, 47, 255);
    --bg-button:rgb(219, 219, 219);
    --color-txt:rgb(70, 70, 70);

    --hover-button:rgb(179, 179, 179);
}
body, html{
    height: 100vh;
}
body{
    background-color:var(--bg);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color:  var(--color-txt);
}
input{
    height: 56px;
    width: 100%;
    padding: 0 10px;
    margin: 8px 0;
    font-size: 2rem;
    text-align: right;
    outline: none;
}
input:disabled{
    color: var(--color-txt);
    border:1px solid var(--bg-button);
    background-color: #fff;
}

table{
    width: 100%;
}
.container{
    max-width: 640px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: var(--bg-button);
    color: var(--color-txt);
    font-size: 18px;
    transition: all .2s;
}

button[ class="btn btn-eq"]{
    background-color: var(--bg);
    color: #fff;
}
.btn:hover{
    background-color: var(--hover-button);
}